
<div class="col-md-2 fill-height border-right auto-overflow default-cursor">
    <div ng-repeat="user in users">
        <div ng-hide="isMe(user.id)">
            <div ng-click="clickOnUser(user)" class="hover-white">
                <div ng-class="{'active chat-active': isActive(user.id)}" class="row hide-overflow hover-white chat-entry"
                    <div ng-show="user.online">
                        <div ng-show="user.name">
                            {{user.name}}
                        </div>
                    <div ng-hide="user.name">
                        {{user.id}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <input type="file" ng-disabled="!activeUser" ft-file-uploader />
        </div>
    </div>
</div>


<div class="col-md-10 fill-height">
    <div hf-auto-scroll class="fill-top auto-overflow">
        <div ng-show="activeUser">
            <div ng-repeat="message in users[activeUser.id].conversation.history">
                <div class="chatbox-entry" ng-class="isMe(message.sender) ? 'chatbox-entry-sent' : 'chatbox-entry-recv chatbox-entry-recv-color0'">
                    {{getUserName(message.sender) + ": " + message.message}} 
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <input ng-disabled="!activeUser" type="text" ng-model="chatMessage" ng-keydown="chatKeyDown($event)" class="form-control fill-width"/>
        <span ng-disabled="!activeUser" class="pointer input-group-addon" ng-click="sendFile()">Send file</span>
    </div>
</div>
