
<div class="col-md-4">
<div ng-repeat="user in users">
    <div ng-click="clickOnUser(user)">
        <div ng-show="user.online">
            <div ng-show="user.name">
                {{user.name}}
            </div>
            <div ng-hide="user.name">
                {{user.id}}
            </div>
        </div>
    </div>
</div>
</div>


<div class="col-md-4">
<div ng-show="activeUser">
    <div ng-repeat="message in users[activeUser.id].conversation.history">
        <div ng-click="">
            {{message.message}}
            {{message.sender}}
        </div>
    </div>
</div>
</div>
<input type="file" ft-file-uploader />
