html, body {
	height: 100%;
	margin: 0px;
}

.center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.fill-height {
	height: 100%;
}
.fill-height-under-navbar {
	height: calc(100% - 72px);
}


.no-border {
	border-radius: 0px !important;
}

.pointer {
	cursor: pointer;
}



.align-center {
	text-align: center;
}





.color-grey {
	background-color: #eeebe8;
}

.color-white {
	background-color: #fff;
}

.color-black {
	background-color: #231f20;
}

.hover-white:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
